*{
    font-family: 'Courier New', Courier, monospace;
}
/*Deixa os itens alianhados ao centro no topo*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: yellow;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 16pt;
}